@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/test-prototypes/demo/warmup/code/fonts/Inter-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 600;
  src: url("/test-prototypes/demo/warmup/code/fonts/Inter-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 800;
  src: url("/test-prototypes/demo/warmup/code/fonts/Inter-Bold.woff2")
    format("woff2");
}
